@model IEnumerable<AccountingSystem.Models.RequestListViewModel>
@using AccountingSystem.Models.Enum
@{
    ViewData["Title"] = "GetRequestsForPerson";
}
@if (ViewBag.Message != null)
{
    <p class="error-message">&#9830;@ViewBag.Message</p>
}
<h1>Мои заявки</h1>
<p>
    <a type="button" class="btn btn-primary btn-lg" asp-action="Create">Создать новую заявку</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                <a asp-action="GetRequestsForPerson" asp-route-sortOrder="@ViewBag.NameSort">
                    Имя
                </a>
            </th>
            <th>
                <a asp-action="GetRequestsForPerson" asp-route-sortOrder="@ViewBag.SurnameSort">
                    Фамилия
                </a>
            </th>
            <td>
                <a asp-action="GetRequestsForPerson" asp-route-sortOrder="@ViewBag.TypeSort">
                    Тип заявки
                </a>
            </td>
            <th>
                <a asp-action="GetRequestsForPerson" asp-route-sortOrder="@ViewBag.UnitSort">
                    Отдел
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                <a asp-action="GetRequestsForPerson" asp-route-sortOrder="@ViewBag.DateSort">
                    Дата создания
                </a>
            </th>
            <th>
                <a asp-action="GetRequestsForPerson" asp-route-sortOrder="@ViewBag.StatusSort">
                    Статус
                </a>
            </th>
            <th>
                Действия
            </th>
        </tr>
    </thead>
<tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestTypeNavigation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusNavigation.Name)
            </td>     
            <td>
                <div class="flex-buttons">                    
                    @if(item.Status == (int)StatusRequest.SendForApprove || item.Status == (int)StatusRequest.Agreed)
                    {
                        <a class="btn btn-danger" onclick="CancelSendRequest(@item.Id)">Отозвать</a>
                    }
                    @if(item.Status == (int)StatusRequest.New || item.Status == (int)StatusRequest.Withdrawn || item.Status == (int)StatusRequest.NotAgreed)
                    {
                        <a class="btn btn-primary" asp-action="SendForAgree" asp-route-id="@item.Id">Отправить на согласование</a>
                    }
                    @if(item.Status != (int)StatusRequest.Canceled && item.Status != (int)StatusRequest.Approved)
                    {
                        <a class="btn btn-danger" onclick="CancelRequest(@item.Id)">Отменить</a>
                        <a class="btn btn-primary" onclick="EditRequest(@item.Id)">Редактировать</a>
                    }
                    <a class="btn btn-primary" onclick="DetailRequest(@item.Id)">Подробности</a>
                 </div>
            </td>
        </tr>
} 
    </tbody>
</table>

<div class="modal fade" id="requestModal">
    <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-title"></h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            <div class="modal-body" id="requestModalBodyDiv"></div>             
        </div>
    </div>
</div>